{% include base_path %}

<!-- begin SEO -->
{% assign localized_title = site.title %}
{% assign localized_description = site.description %}
{% if page.lang == 'zh' %}
  {% assign localized_title = site.title_zh %}
  {% assign localized_description = site.description_zh %}
{% endif %}
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}
{% assign seo_url = seo_url | default: site.github.url %}

{% if page.title and page.title != localized_title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: localized_title %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
{% endif %}

<title>{{ seo_title | default: localized_title }}{% if paginator %}{% unless paginator.page == 1 %} {{ site.title_separator }} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}{% endif %}</title>